<div class="<%= "msg-pill msg-pill--#{current_user == message.user ? 'self' : 'them'}" %>">
  <% if current_user != message.user %>
    <small><%= message.user.username %></small>
  <% end %>
  <%= message.body %>
  <span class="msg-date"><%= message.created_at.localtime.strftime("%d.%m.%y %k:%M") %></span>
</div>