<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand brand-logo" href="<%= root_path %>">
    <img src="<%= image_path('icon.png') %>" class="rounded img-fluid mr-1" alt="Is Logo">
  </a>

  <ul class="navbar-nav ml-auto">
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to t('sessions.logout'),
            logout_path,
            method: :delete,
            class: "nav-link text-danger" %>
      </li>
    <% end %>
  </ul>
</nav>
